/*

@Dashboard.fxml

*/


/*  Modifying Entries Buttons   */
.text-field {
    -fx-background-color: transparent;
    -fx-background-radius:5;
    -fx-border-color: #6C757D;
    -fx-border-radius:5;
    -fx-border-width:1;
    -fx-text-fill:white;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: #343A40;
    -fx-background-radius:8;
    -fx-text-fill:#6C757D;
}
.button:hover {
    -fx-background-color: #6C757D;
    -fx-background-radius:8;
    -fx-text-fill:white;
}

#resetAll {
    -fx-background-color: #3498db;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
#resetAll:hover {
    -fx-background-color: #2980b9;

}