/*  BUTTON TEXT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*

@Dashboard.fxml

*/


#dashboardButton {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18;
    -fx-background-color:#3d3d3d;
    -fx-background-radius:5;
    -fx-text-fill:white;
}
#dashboardButton:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}
