
/*  LOGO  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/*  BUTTON TEXT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*  HEADER TEXT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*  BODY TEXT   */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*

@Global.css styles that most fxml files use

*/



/*  Targeted CSS    */
#logo {
    -fx-text-fill: white;
    -fx-font-family: 'Montserrat ExtraBold', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18;
}
#loginLogo {
    -fx-text-fill: #3a405a;
    -fx-font-family: 'Montserrat ExtraBold', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18;
}


/*  MENU BUTTONS    */
#dashboardButton {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18;
    -fx-background-color:transparent;
    -fx-text-fill:#989898;
}
#dashboardButton:hover {
    -fx-background-color:#3d3d3d;
    -fx-background-radius:5;
    -fx-text-fill:white;
}


#signOutButton {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18;
    -fx-background-color:transparent;
    -fx-text-fill:#989898;
}
#signOutButton:hover {
    -fx-background-color:#3d3d3d;
    -fx-background-radius:5;
    -fx-text-fill:white;
}


#transactionButton {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18;
    -fx-background-color:transparent;
    -fx-text-fill:#989898;
}
#transactionButton:hover {
    -fx-background-color:#3d3d3d;
    -fx-background-radius:5;
    -fx-text-fill:white;
}


#settingButton {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18;
    -fx-background-color:#3d3d3d;
    -fx-text-fill:white;
}


/* Window view buttons */
#minimizeButton {
    -fx-background-color:transparent;
}
#minimizeButton:hover {
    -fx-background-color:#3d3d3d;
    -fx-background-radius:3;
    -fx-border-color:transparent;
}


#closeButton {
    -fx-background-color:transparent;
}
#closeButton:hover {
    -fx-background-color:#CD5C5C;
    -fx-background-radius:3;
    -fx-border-color:transparent;
}


#fullScreenButton {
    -fx-background-color:transparent;
}
#fullScreenButton:hover {
    -fx-background-color:#3d3d3d;
    -fx-background-radius:3;
    -fx-border-color:transparent;
}


#resetAll {
    -fx-background-color: #3498db;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 16;
}
#resetAll:hover {
    -fx-background-color: #2980b9;
}


#header {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight:800;
    -fx-font-size: 18;
}


/*

Not targeted CSS

*/


/*  DEFAULT LABEL   */
.label {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 14;
}


/*  DEFAULT TEXT AREA    */
.text-area {
    -fx-control-inner-background: #101010;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 12;
}


/*  DEFAULT TEXT FIELD  */
.text-field {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 12;
    -fx-background-color: transparent;
    -fx-background-radius:5;
    -fx-border-color: #989898;
    -fx-border-radius:5;
    -fx-border-width:1;
    -fx-text-fill:white;
}


/*  DEFAULT BUTTON     */
.button {
    -fx-cursor: hand;
    -fx-background-color: #282828;
    -fx-background-radius:5;
    -fx-text-fill:#989898;
}
.button:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}


/*  DEFAULT COMBO-BOX */
.combo-box {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: #989898;
    -fx-border-width: 1;
    -fx-border-radius:5;
}
.combo-box .arrow-button {
    -fx-background-color: transparent;
}
.combo-box .label {
    -fx-control-inner-background: #101010;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 12;
    -fx-text-fill:white;
}


/*  DEFAULT CHECK-BOX   */
.check-box .box{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius:3;
    -fx-background-size: 10;
}
.check-box:selected .mark {
    -fx-background-color: white;
    -fx-background-radius:2;
    -fx-shape: "M3 3 L11 11 M3 11 L11 3";
    -fx-scale-shape: false;
    -fx-stroke-type: outside;
    -fx-stroke-width: 2;
    -fx-stroke: white;
}
.check-box:selected .box {
    -fx-background-color: white;
}



/*

Tableview

*/


/* Set background color for the entire TableView */
.table-view {
    -fx-background-color: transparent; /* Light gray background color */
    -fx-text-fill:white;
    -fx-control-inner-background: #101010;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 12;
}

/* Set background color for table headers */
.table-view .column-header{
    -fx-background-color: #1c1c1c;
    -fx-text-fill: white; /* Header text color */
    -fx-font-family: 'Inter', sans-serif;
    -fx-font-weight:700;
    -fx-font-size: 12;
}

.table-view .column-header .label {
    -fx-text-fill:white;
}

/* Set background color for even rows */
.table-row-cell:even {
    -fx-background-color: #282828; /* Alternate row background color */
    -fx-border-color: transparent;
}

/* Set background color for odd rows */
.table-row-cell:odd {
    -fx-background-color: #1c1c1c; /* Alternate row background color */
    -fx-border-color: transparent;
}

/* Set text color for cells */
.table-cell {
    -fx-text-fill: white; /* Cell text color */
    -fx-border-color: transparent;
}

/* Set selection color for cells */
.table-row-cell:selected {
    -fx-background-color: #2980b9; /* Selected row background color */
    -fx-text-fill: white; /* Selected cell text color */
}


