/*

@Global.css styles that most fxml files use

*/
#settingButton {
-fx-background-color: #343A40;
-fx-background-radius:8;
-fx-border-color: #6C757D;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:#6C757D;
}
#settingButton:hover {
-fx-background-color: #6C757D;
-fx-background-radius:8;
-fx-border-color: #343A40;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:white;
}
#checkoutButton {
-fx-background-color: #343A40;
-fx-background-radius:8;
-fx-border-color: #6C757D;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:#6C757D;
}
#checkoutButton:hover {
-fx-background-color: #6C757D;
-fx-background-radius:8;
-fx-border-color: #343A40;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:white;
}
#notiButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#notiButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#transactionButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#transactionButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#signInButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#signInButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#dashboardButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#dashboardButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}

/* Minimize buttons */
#minimizeButton {
-fx-background-color:transparent;
}
#minimizeButton:hover {
-fx-background-color:#343A40;
-fx-background-radius:0;
}
/* Close buttons */
#closeButton {
-fx-background-color:transparent;
}
#closeButton:hover {
-fx-background-color:#CD5C5C;
-fx-background-radius:0;
}
/* Full-screen Button */
#fullScreenButton {
-fx-background-color:transparent;
}
#fullScreenButton:hover {
-fx-background-color:#343A40;
-fx-background-radius:0;
}

/* Search field */
#keywordTextField {
-fx-background-color: transparent;
-fx-background-radius:5;
-fx-border-color: #6C757D;
-fx-border-radius:5;
-fx-border-width:1;
-fx-text-fill:white;
}




/*  Tableview   */





/* Set background color for the entire TableView */
.table-view {
    -fx-background-color: transparent; /* Light gray background color */
    -fx-text-fill:white;
}

/* Set background color for table headers */
.table-view .column-header{
    -fx-background-color: #212529;
    -fx-text-fill: white; /* Header text color */
}

.table-view .column-header .label {
    -fx-text-fill:white;
}

/* Set background color for even rows */
.table-row-cell:even {
    -fx-background-color: #343A40; /* Alternate row background color */
    -fx-border-color: transparent;
}

/* Set background color for odd rows */
.table-row-cell:odd {
    -fx-background-color: #212529; /* Alternate row background color */
    -fx-border-color: transparent;
}

/* Set text color for cells */
.table-cell {
    -fx-text-fill: white; /* Cell text color */
    -fx-border-color: transparent;
}

/* Set selection color for cells */
.table-row-cell:selected {
    -fx-background-color: #2980b9; /* Selected row background color */
    -fx-text-fill: white; /* Selected cell text color */
}


