/*

@Transaction.fxml

*/

/* CSV File Buttons */
#exportCSVButton {
    -fx-background-color:transparent;
    -fx-text-fill:#989898;
}
#exportCSVButton:hover {
    -fx-border-color:#989898;
    -fx-border-radius:5;
    -fx-text-fill:white;
}
#importCSVButton {
    -fx-background-color:transparent;
    -fx-text-fill:#989898;
}
#importCSVButton:hover {
    -fx-border-color:#989898;
    -fx-border-radius:5;
    -fx-text-fill:white;
}