#generateLinksButton {
-fx-background-color: #343A40;
-fx-background-radius:8;
-fx-border-color: #6C757D;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:#6C757D;
}
#generateLinksButton:hover {
-fx-background-color: #6C757D;
-fx-background-radius:8;
-fx-border-color: #343A40;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:white;
}

#exportCSVButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#exportCSVButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#importCSVButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#importCSVButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}

/*TABLE VIEW:*/

/*
.table-button {
  -fx-background-color: white;
  -fx-cursor: hand;
}
.table-button:hover{
  -fx-background-color: transparent;
}
.table-view {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
}
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
  -fx-background-color: transparent;
}
.table-view .column-header {
  -fx-background-color: -fx-light-grey-color;
  -fx-border-color: -fx-grey-color;
}
.table-view .column-header .label{
  -fx-font-weight: bold;
  -fx-alignment: center;
  -fx-text-fill:white;
}
.table-row-cell:filled {
  -fx-background-color: transparent;
  -fx-border-color: transparent -fx-lightest-grey-color -fx-lightest-grey-color -fx-lightest-grey-color, transparent;
  -fx-border-insets: 0, 1;
}
.table-row-cell:empty {
  -fx-background-color: transparent;
}
.table-row-cell:filled:hover {
  -fx-background-color: transparent;
}
.table-row-cell:filled:selected:hover {
  -fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected {
  -fx-background-color: #transparent;
  -fx-background-insets: 0.0;
  -fx-background-radius: 0.0;
}
.table-row-cell:filled:selected .table-cell {
  -fx-text-fill: white;
}
.table-view .cell:filled{
  -fx-cell-size: 30;
  -fx-alignment: center-left;
}
.check-box-table-cell > .check-box:selected .box .mark {
  -fx-background-color: white;
}
.check-box-table-cell > .check-box:selected .box{
  -fx-background-color: white;
}
.table-view .placeholder .label {
  -fx-text-fill: red;
  -fx-padding:20px;
}
.table-view .text{
-fx-text-fill-color: white;
}
*/


/*

BUTTONS:

*/
#newProjectButton {
-fx-background-color: #343A40;
-fx-background-radius:8;
-fx-border-color: #6C757D;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:#6C757D;
}
#newProjectButton:hover {
-fx-background-color: #6C757D;
-fx-background-radius:8;
-fx-border-color: #343A40;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:white;
}
#settingButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#settingButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#notiButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#notiButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#checkoutButton {
-fx-background-color: #343A40;
-fx-background-radius:8;
-fx-border-color: #6C757D;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:#6C757D;
}
#checkoutButton:hover {
-fx-background-color: #6C757D;
-fx-background-radius:8;
-fx-border-color: #343A40;
-fx-border-radius:8;
-fx-border-width:1;
-fx-text-fill:white;
}
#transactionButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#transactionButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#signInButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#signInButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#dashboardButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#dashboardButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#exportCSVButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#exportCSVButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}
#importCSVButton {
-fx-background-color:transparent;
-fx-text-fill:#6c757d
}
#importCSVButton:hover {
-fx-background-color:#6c757d;
-fx-background-radius:8;
-fx-text-fill:white;
}



/* Minimize buttons */
#minimizeButton {
-fx-background-color:transparent;
}
#minimizeButton:hover {
-fx-background-color:#343A40;
-fx-background-radius:0;
}
/* Close buttons */
#closeButton {
-fx-background-color:transparent;
}
#closeButton:hover {
-fx-background-color:#CD5C5C;
-fx-background-radius:0;
}
/* Fullscreen Button */
#fullScreenButton {
-fx-background-color:transparent;
}
#fullScreenButton:hover {
-fx-background-color:#343A40;
-fx-background-radius:0;
}

/*

TEXTFIELDS:

*/
#keywordTextField {
-fx-background-color: #343A40;
-fx-background-radius:8;
-fx-border-color: #6C757D;
-fx-border-radius:5;
-fx-border-width:1;
-fx-text-fill:white;
}