/*

@Transaction.fxml

*/


#transactionButton {
    -fx-background-color:#3d3d3d;
    -fx-background-radius:5;
    -fx-text-fill:white;
}
#transactionButton:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}


/* CSV File Buttons */
#exportCSVButton {
    -fx-background-color:transparent;
    -fx-text-fill:#989898;
}
#exportCSVButton:hover {
    -fx-background-color:#3d3d3d;
    -fx-background-radius:5;
    -fx-text-fill:white;
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}
#viewCSVFiles {
    -fx-background-color:transparent;
    -fx-text-fill:#989898;
}
#viewCSVFiles:hover {
    -fx-background-color:#3d3d3d;
    -fx-background-radius:5;
    -fx-text-fill:white;
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}